body {
  margin: 0;
  background-color: #173D50;
  font-family: sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color: #B3966A;
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: #173D50;
}
.container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
canvas {
  margin: 1rem;
  border-radius: 20px;
}
button, input[type="file"] {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #B3966A;
  color: #173D50;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}
